@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --secondary: #c9c9c9;
  --secondary-text: #969696;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: white;
}